html {
    background-color: aliceblue;
    font-family: 'Cabin', sans-serif;
}
h1 {
    color: rgb(98, 132, 130);
    /* background-color: rgb(222, 218, 211); */
    font-size: 50px;
    text-align: center;
    
}
body {
    text-align: center;
    font-size: 20px;
    
}
li {
    list-style-type: none;
    line-height:  4;
    font-size: 20px;
}
